<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sheet" value="11pNDCoNqW7AtV8BNee37M-w9jGStwAP1kEiDf84Jc_0" />
    <add key="log" value="Tardy Log 22-23" />
    <add key="students" value="Students" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>